extends base

block append scripts
 script(type="text/javascript").
  window.onload=function(){document.getElementById("cmd").value="post";};
 script(type="text/javascript" src="/js/bbs.js")
 script(type="text/javascript" src="/js/fx_methods.js")
 link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" integrity="sha384-pnkRj/o9mh07rfWxV9yY0Tik4Cn+tYLX+hu+gfN2s5bd7hwM1q5rAqGyA21Iz17u" crossorigin="anonymous")
 script(type="text/javascript" src="/js/lightbox.min.js")

block content
    each msg in messages
     .panel.panel-default.new-record
      .panel-heading
       span.glyphicon.glyphicon-tag
       |!{msg.id}&nbsp;
       if msg.name
        span.glyphicon.glyphicon-user
        |!{msg.name}&nbsp;
       span.glyphicon.glyphicon-time
       |!{msg.date}
      .clearfix
      .panel-body
       |!{msg.body}
    form.well.col-md-12(method="post",action="/thread.cgi")
     input(type="hidden",name="cmd",id="cmd")
     input(type="hidden",value=file,name="file")
     .input-wrapper
      .col-md-6
       span.input-group-addon
        span.glyphicon.glyphicon-user
        |Name
       input.form-control(type="text",name="name")
      .col-md-6
       span.input-group-addon
        span.glyphicon.glyphicon-envelope
        |Mail
       input.form-control(type="text",name="mail")
      .col-md-12
       span.input-group-addon
        span.glyphicon.glyphicon-font
        |Text
       textarea.form-control(name="body",rows="6")
      .col-md-8.col-md-offset-4
       button.btn.btn-primary(type="submit")
        span.glyphicon.glyphicon-pencil
        |Post
       a.btn(href="/gateway.cgi/motd") 利用規約